.fc-rsf-hoverable:hover, .fc-rsf-selected {
  background: var(--lumo-primary-color-50pct);
  color: var(--lumo-primary-contrast-color);
  cursor: pointer;
  border-style: solid;
}

.fc-rsf-readonly {
  cursor: default;
  border-style: dashed;
}

.fc-rsf-unselected {
  background : initial
}

/* Horizontal line container with centered text overlay */
.fc-rsf-linespan {
  display : inline-flex;
  align-items : center;
  justify-content : center;
  min-height : calc(var(--lumo-text-field-size) + 2 * var(--lumo-space-xs));
  max-height : calc(var(--lumo-text-field-size) + 2 * var(--lumo-space-xs));
  min-width: 4.5rem;
  position: relative;

  /* Actual horizontal line */
  div {
    min-height: 1px;
    max-height: 1px;
    background: var(--lumo-contrast-10pct);
    flex-grow: 1;
  }

  /* Text label positioned over the line */
  p {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      color : var(--lumo-secondary-text-color);
      background : var(--lumo-base-color);
      display: inline;
      width: fit-content;
      font-size: var(--lumo-font-size-s);
      line-height: var(--lumo-font-size-s);
      padding-right: var(--lumo-space-xs);
      padding-left: var(--lumo-space-xs);
      padding-top: 0;
      padding-bottom: 0;
  }
}

.fc-rsf-circle {
  left : calc((var(--lumo-space-m) + 12px - 6px) * -1);
  background: var(--lumo-base-color);
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-top: var(--lumo-space-xs);
  padding-bottom: var(--lumo-space-xs);

  div {
    border-radius: 50%;
    background: var(--lumo-primary-color);
    min-height: 11px;
    max-height: 11px;
    min-width: 11px;
    max-width: 11px;
  }
}

.fc-rsf-chip-group {
  align-items: center;
  justify-content: flex-end;
  gap: var(--lumo-space-s);
  flex-wrap: wrap;  
  padding-left: var(--lumo-space-s);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
}

.fc-rsf-chip {
  padding: var(--lumo-space-xs) var(--lumo-space-m);
  align-items: center;
  border-radius: var(--lumo-border-radius-l);
  border: 1px solid var(--lumo-contrast-10pct);
  display: inline-flex;
  gap: var(--lumo-space-s);
}

.fc-rsf-chip-text {
  font-size: var(--lumo-font-size-s);
  font-weight: 600;
  padding: 0;
  margin: 0;
  line-height: var(--lumo-line-height-s);
}

.fc-rsf-chip-text-color {
  color: var(--lumo-body-text-color);
}

.fc-rsf-chip-text-color-readonly {
  color: var(--lumo-secondary-text-color);
}

.fc-recurrent-schedule-field {
  width: auto;
  padding: var(--lumo-space-s);
  margin: 0;
  display: inline;
}

.fc-recurrent-schedule-field-root-layout {
  padding: var(--lumo-space-s);
  align-items: stretch;
  gap: var(--lumo-space-m);
}

.fc-recurrent-schedule-field-main-layout {
  gap: var(--lumo-space-m);
  display: inline-flex;
  align-items: stretch;
  padding: 0;
  flex-grow: 1;
}

.fc-date-selector-header-wrapper {
  gap: var(--lumo-space-s);
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: var(--lumo-space-s);
}

.fc-time-selector-layout, .fc-days-selector-layout {
  align-items: stretch;
  padding: 0;
  gap: var(--lumo-space-xs);
}

.fc-time-selector-header-layout, .fc-days-selector-header-layout {
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.fc-time-selector-selector-layout, .fc-date-selector-selector-layout {
  gap: var(--lumo-space-s);
}

.fc-date-selector-layout {
  padding: 0;
  gap: var(--lumo-space-xs);
}

.fc-days-selector-day-selector {
  padding: 0;
  margin: 0;    
  align-self: center;
}
